
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Entrar.cshtml";
}

<h2>IniciarSesion</h2>

<a href="../AdministracionCliente/Administracion_Cliente">Cliente</a>
<a href="../AdministracionUsuario/Administracion_Usuario">Usuario</a>