
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Entrar.cshtml";
}

<h2>IniciarSesion</h2>

<a href="../Biblioteca/Principal">Cliente</a>
<a href="../Biblioteca/Principal">Usuario</a>