
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Entrar.cshtml";
}

<h2>IniciarSesion</h2>

<a href="../AdministracionCliente/Index">Cliente</a>
<a href="../AdministracionUsuario/Index">Usuario</a>