@model UI.Models.Usuario
<h2>Crear Usuario</h2>
@using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { id = "frmUsuario" }))
{
    <div class="form-horizontal">
        
        <div class="form-group">
            <label class="control-label col-md-2">Identificacion</label>
            <div class="col-md-10">
                <input type="text" name="usu_identificacion" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="usu_nombre" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Apellido</label>
            <div class="col-md-10">
                <input type="text" name="usu_apellido" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Correo</label>
            <div class="col-md-10">
                <input type="text" name="usu_correo" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Nacimiento</label>
            <div class="col-md-10">
                <input type="text" name="usu_fecha_nacimiento" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Telefono</label>
            <div class="col-md-10">
                <input type="text" name="usu_telefono" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Clave</label>
            <div class="col-md-10">
                <input type="password" name="usu_clave" value="" class="form-control" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" autocomplete="off" />
            </div>
        </div>
    </div>
}

<div>
    <a href="#" onclick="pRegresar()">Atras</a>
</div>

<script>
    $(document).ready(function () {
        //Ajax encargado de realizar el submit del formulario de consulta
        $("#frmUsuario").on("submit", function (e) {
            e.preventDefault();
            pMantenimiento($(this).attr("action"), $(this).serialize())
        });
    });

    function pMantenimiento(vloAccion, vloDatos) {
        $.ajax({
            url: vloAccion, //Se agrega el action del formulario
            method: 'POST', //Se agrega el metodo de comunicación del formulario
            data: vloDatos, //serializa toda la data del formulario para poder recibir el modelo en el controlador
            success: function (respuesta) {
                if (respuesta === 'AGREGADO') {
                    alert("Usuario agregado.");
                }
                else {
                    alert(respuesta);
                }
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };




    function pRegresar() {
        $.ajax({
            url: '../Usuario/Index',
            method: 'POST',
            data: {},
            success: function (respuesta) {
                $('#pnlPantallas').empty();
                $('#pnlPantallas').html(respuesta);
            },
            error: function (respuesta) {
                console.log(respuesta);
            }
        });
    };
</script>